# env files
.env
backend/.env
frontend/.env
frontend/lib/core/config/*

# Go
backend/bin/
backend/build/

# Flutter / Node
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log